<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/aboutMe.css">
<head>
    <meta charset="UTF-8">
    <title>Alex Tsarapkine</title>
</head>
<body>
    <h1 class="">i am alex</h1>
    <h1 class="">coding is my passion</h1>
    <h1 class="">i am almost computer engineer</h1>
    <h1 id ="resume-button" class="resume-button">resume</h1>
    <h1 id ="return-button" class="return-button">go back please!</h1>
    

    <iframe src="https://www.tiktok.com/player/v1/7398132706430749983?&autoplay=1&loop=1" allow="fullscreen" title="test"></iframe>

    <div id="resume-slider-container" class="resume-slider-container collapsed">
        <iframe class="pdf" src="/pdfs/Resume2024.pdf"></iframe>
        <button id="collapse-button" class="collapse-button">
            <span class="arrow">❮</span>
        </button>
    </div>

    <div id="return-container" class="return-container">
        <iframe frameborder="0" src="/"></iframe>
    </div>
    

<script async src="https://www.tiktok.com/embed.js"></script>
<script src="/js/aboutMe.js"></script>
</body>
</html>