<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/index.css">
<head>
    <meta charset="UTF-8">
    <title>Alex Tsarapkine</title>
</head>
<body>
    <div  class="home-page-container ">
        <div id="resume-slider-container" class="resume-slider-container collapsed">
            <iframe class="pdf" src="/pdfs/Resume2024.pdf"></iframe>
            <button id="collapse-button" class="collapse-button">
                <span class="arrow">❮</span>
            </button>
        </div>
        <div id="home-page-button-container" class="home-page-button-container">
            <div>
                <!-- off rip make this do the ugly block spin -->
                <link rel="stylesheet" href="/css/button.css">
                <button id="hrButton" class="generic-button">Click if you are from HR</button>
            </div>
        
            <div>
                <link rel="stylesheet" href="/css/button.css">
                <button id="devButton" class="generic-button">Click if you are a developer</button>
            </div>
        </div>
    
        <div id="cube-container" class="cube-container hidden">
            <div class="cube">
              <div class="home-iframe face front">
                <iframe class="" src="http://localhost:3000" frameborder="0"></iframe>
              </div>
              <div class="home-iframe face right"> 
                <!-- can you more simple example -->
                <blockquote 
                    class="tiktok-embed" 
                    cite="https://www.tiktok.com/@username/video/6718335390845095173" 
                    data-video-id="6718335390845095173">
                    <iframe 
                        src="https://www.tiktok.com/@username/video/6718335390845095173"
                        style="width: 100%; height: 100%;"
                        frameborder="0"
                        allow="autoplay; loop;"
                        allowfullscreen>
                    </iframe>
                </blockquote>
                <script async src="https://www.tiktok.com/embed.js"></script>
            </div>

            </div>
          </div>
    </div>
    <script src="/js/index.js"></script>
</body>
   
</html>